
body{
  font-family: 'Tilt Neon', cursive;
}

.bg-img {
  background-image: url(https://images.pexels.com/photos/1174183/pexels-photo-1174183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hero, .shop {
  background-color: #303030;
  border: 3px solid white;
  border-radius: 5px;
  padding: 1em;
}

.monster {
  background-image: url(https://images.pexels.com/photos/1671325/pexels-photo-1671325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 3px solid white;
  border-radius: 5px;

}

p {
  font-size: 60px;
}



#monsterBar {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
.bar {
  width: 50%;
  height: 30px;
  background-color: red;
  border-radius: 5px;
}